<div class="sidebar">
  <div class="topbar">
    <img src="assets/images/logo.png" alt="Lokkit Logo" class="logo" />
    <div class="search-bar">
      <img src="assets/icons/search.svg" alt="Search" width="20" height="20" />
      <input type="text" placeholder="Search..." />
    </div>

    <nav>
      <ul>
        <li class="active">
          <img src="assets/icons/house-simple.svg" alt="Home" />
          Home
          <span class="badge">10</span>
        </li>
        <li>
          <img src="assets/icons/list-bullets.svg" alt="Tasks" />
          Tasks
        </li>
        <li>
          <img src="assets/icons/users.svg" alt="Users" />
          Users
          <span class="badge">2</span>
        </li>
        <li>
          <img src="assets/icons/cube.svg" alt="APIs" />
          APIs
        </li>
        <li>
          <img src="assets/icons/credit-card.svg" alt="Subscription" />
          Subscription
        </li>
        <li>
          <img src="assets/icons/setting.svg" alt="Settings" />
          Settings
        </li>
        <li>
          <img src="assets/icons/chat-teardrop-dots.svg" alt="Help & Support" />
          Help & Support
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-utilities">
    <div class="notification-banner">
      <button class="close-button">&times;</button>
      <div class="banner-img-container">
        <img src="assets/icons/warning.svg" alt="Alert" />
      </div>
      <p>Enjoy unlimited access to our app with only a small price monthly.</p>
      <div class="notification-actions">
        <button class="dismiss-button">Dismiss</button>
        <button class="go-pro-button">Go Pro</button>
      </div>
    </div>

    <div class="user-profile">
      <img
        src="https://avatars.mds.yandex.net/i?id=7420abb30a547d6f0feaf134481efaf623786301-11413071-images-thumbs&n=13"
        alt="User Avatar"
        class="avatar"
      />
      <div class="user-info">
        <h2 class="user-name">Azunyan U. Wu</h2>
        <p class="user-role">Basic Member</p>
      </div>
      <img src="assets/icons/exit.svg" alt="Logout" />
    </div>
  </div>
</div>
