<header class="header">
  <label class="search-label" for="email">
    <input
      class="search-input"
      type="text"
      id="text"
      placeholder="Search for friends, groups, pages"
    />
    <img src="assets/icons/search.svg" />
  </label>
  <div class="user-actions">
    <button class="add-new-post">
      Add New Post
      <img src="assets/icons/plus.svg" alt="" />
    </button>
    <nav class="navigate">
      <a href="#" class="navigate-link">
        <img src="assets/icons/chat-teardrop-dots.svg" alt="" />
      </a>
      <a href="#" class="navigate-link">
        <img src="assets/icons/bell.svg" alt="" />
      </a>
      <a href="#" class="navigate-link">
        <img src="assets/icons/setting.svg" alt="" />
      </a>
    </nav>
    <img
      src="https://avatars.mds.yandex.net/i?id=7420abb30a547d6f0feaf134481efaf623786301-11413071-images-thumbs&n=13"
      alt=""
      class="user-avatar"
    />
  </div>
</header>
