.header {
  max-width: 1128px;
  z-index: 9999;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 32px;
  background-color: #fff;
  border: #e2e8f0 solid 1px;
  justify-content: space-between;
  position: fixed;
  left: 312px;
  top: 0;
}

.user-actions {
  display: flex;
  gap: 15px;
}

.search-input {
  border: 0;
  outline: 0;
  width: 344px;
  height: 22px;
}

.search-label {
  width: 400px;
  height: 48px;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-new-post {
  width: 179px;
  height: 48px;
  background-color: #4f46e5;
  border-radius: 1234px;
  border: 0;
  color: #fff;
  gap: 14px;
  display: flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.add-new-post:hover {
  background-color: #4f46e5bf;
}

.navigate {
  width: 160px;
  height: 48px;
  display: flex;
  gap: 8px;
}

.navigate-link {
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 123px;
  border: 1px solid #e2e8f0;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-left: 10px;
}
