.profile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.6px;
}
.profile-buttons {
  display: flex;
  gap: 31px;
  margin-top: 7px;
}
.profile-button {
  display: flex;
  padding: 8px;
  border: 0;
  outline: 0;
  background-color: transparent;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.profile-button:hover {
  background-color: #e2e8f0ab;
}
.profile-button-description {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.3px;
}

.profile-button.active {
  background-color: #e2e8f0;
}
