.user {
  width: 691px;
  min-height: 72px;
  background-color: #fff;
  gap: 20px;
  display: flex;
  align-items: center;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 76.88px;
}
.user-content {
  width: 483px;
  height: 42px;
}
.user-btn {
  width: 120px;
  height: 36px;
  border-radius: 1234px;
  color: #fff;
  background-color: #4f46e5;
  border: 0;
}
.user-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 2px 0;
}
.user-email {
  margin: 0;
  font-size: 14px;
}

.active-user {
  background-color: #fff;
  width: 691px;
  border-bottom: #000 solid 1px;
  height: 150px;
  gap: 100px;
  display: flex;
  align-items: center;
}
.active-user-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.active-user-name {
  font-size: 30px;
}
.active-user-email {
  font-size: 18px;
}
