<div class="profile">
  <div class="profile-top">
    <h1 class="profile-title">Profile</h1>
    <div class="profile-buttons">
      <button
        class="profile-button"
        (click)="setActiveButton('info')"
        [ngClass]="{ active: activeButton === 'info' }"
        routerLink="info"
      >
        <img src="assets/icons/user.svg" alt="Edit Profile" />
        <p class="profile-button-description">Info</p>
      </button>
      <button
        class="profile-button"
        (click)="setActiveButton('settings')"
        [ngClass]="{ active: activeButton === 'settings' }"
        routerLink="setting"
      >
        <img src="assets/icons/setting.svg" alt="Setting" />
        <p class="profile-button-description">Settings</p>
      </button>
      <button
        class="profile-button"
        (click)="setActiveButton('devices')"
        [ngClass]="{ active: activeButton === 'devices' }"
      >
        <img src="assets/icons/devices.svg" alt="Devices" />
        <p class="profile-button-description">Devices</p>
      </button>
    </div>
  </div>
  <router-outlet />
</div>
