<div class="container">
  <div class="login">
    <div class="decoration">
      <p class="decoration-text">Login</p>
    </div>
    <img class="login-logo" src="assets/icons/logo-big.svg" alt="" />
    <form class="login-form" [formGroup]="loginForm">
      <label class="login-label" for="email">
        <img src="assets/icons/email.svg" />
        <input
          formControlName="email"
          class="login-input"
          type="email"
          id="email"
          placeholder="Email"
        />
      </label>

      @if(!loginForm.controls.email.valid &&
      loginForm.controls['email'].touched){
      <p
        *ngIf="loginForm.get(['email'])?.errors?.['email']"
        class="error-message"
      >
        Invalid email format
      </p>
      <p
        *ngIf="loginForm.get(['email'])?.errors?.['required']"
        class="error-message"
      >
        Email is required
      </p>
      }

      <label class="login-label" for="email">
        <img src="assets/icons/unlock.svg" />
        <input
          formControlName="password"
          placeholder="Password"
          class="login-input"
          type="password"
          id="password"
          name="password"
          required
        />
      </label>
      @if(!loginForm.controls.password.valid &&
      loginForm.controls['password'].touched){
      <p
        *ngIf="loginForm.get(['password'])?.errors?.['minlength']"
        class="error-message"
      >
        Minimum of 6 symbols
      </p>
      <p
        *ngIf="loginForm.get(['password'])?.errors?.['maxlength']"
        class="error-message"
      >
        Maximum of 16 symbols
      </p>
      <p
        *ngIf="loginForm.get(['password'])?.errors?.['required']"
        class="error-message"
      >
        Password is required
      </p>
      }
      <div class="login-actions">
        <div class="checkbox-container">
          <input type="checkbox" id="remember-me" />
          <label class="remember-me-label" for="remember-me">Remember me</label>
        </div>
        <a class="login-links" href="#">Забыли пароль?</a>
      </div>
      <button (click)="onSubmit()" type="submit" class="login-button">
        Login
      </button>
    </form>
    <div class="login-actions">
      <p>Don't have an account?</p>
      <div class="register-link">
        <a routerLink="/register" class="login-links" href="#">Register</a>
      </div>
    </div>
    <div class="social-network">
      <a class="social-network-link network-link-Google" href="#"
        ><img src="assets/icons/G+.svg" alt=""
      /></a>
      <a class="social-network-link network-link-VK" href="#"
        ><img src="assets/icons/VK.svg" alt=""
      /></a>
      <a class="social-network-link network-link-Youtube" href="#"
        ><img src="assets/icons/Youtube.svg" alt=""
      /></a>
    </div>
  </div>
</div>
