<div class="container">
  <div class="register">
    <div class="decoration">
      <p class="decoration-text">Register</p>
    </div>
    <img class="register-logo" src="assets/icons/logo-big.svg" alt="" />
    <form class="register-form">
      <label class="register-label" for="email">
        <img src="assets/icons/email.svg" />
        <input
          class="register-input"
          type="email"
          id="email"
          placeholder="Email"
        />
      </label>

      <label class="register-label" for="userName">
        <img src="assets/icons/user.svg" />
        <input
          class="register-input"
          type="userName"
          id="userName"
          placeholder="Username"
        />
      </label>

      <label class="register-label" for="password">
        <img src="assets/icons/unlock.svg" />
        <input
          placeholder="Password"
          class="register-input"
          type="password"
          id="password"
          name="password"
          required
        />
      </label>

      <label class="register-label" for="confirmPassword">
        <img src="assets/icons/unlock.svg" />
        <input
          placeholder="Confirm Password"
          class="register-input"
          type="confirmPassword"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
      </label>

      <button type="submit" class="register-button">Register</button>
    </form>
    <div class="register-actions">
      <p>Do you have an account?</p>
      <div class="register-link">
        <a class="register-links" href="#">Log In</a>
      </div>
    </div>
    <div class="social-network">
      <a class="social-network-link network-link-Google" href="#"
        ><img src="assets/icons/G+.svg" alt=""
      /></a>
      <a class="social-network-link network-link-VK" href="#"
        ><img src="assets/icons/VK.svg" alt=""
      /></a>
      <a class="social-network-link network-link-Youtube" href="#"
        ><img src="assets/icons/Youtube.svg" alt=""
      /></a>
    </div>
  </div>
</div>
