<div class="insights">
  <section class="friend-suggestions">
    <div class="section-title-a-container">
      <h4 class="section-title">Friend Suggestions</h4>
      <a href="" class="see-all"
        >See All
        <img class="see-all-img" src="assets/icons/arrow.svg" alt="Arrow Right"
      /></a>
    </div>

    <ul class="suggestions-list">
      <li class="suggestion-item">
        <img
          src="https://avatars.mds.yandex.net/i?id=cbd80f5d76ac6ac3599ba4f60401a06ee6b35f19-10842658-images-thumbs&n=13"
          alt="Julia Smith"
          class="avatar"
        />
        <div class="user-info">
          <h3 class="name">Julia Smith</h3>
          <p class="username">&#64;julia.smith</p>
        </div>
        <button class="add-friend">
          <img
            class="add-friend-img"
            src="assets/icons/plus-gray.svg"
            alt="Add Friend"
          />
        </button>
      </li>
      <li class="suggestion-item">
        <img
          src="https://avatars.mds.yandex.net/i?id=cbd80f5d76ac6ac3599ba4f60401a06ee6b35f19-10842658-images-thumbs&n=13"
          alt="Vermillion D. Gray"
          class="avatar"
        />
        <div class="user-info">
          <h4 class="name">Vermillion D. Gray</h4>
          <p class="username">&#64;vermilliongray</p>
        </div>
        <button class="add-friend">
          <img
            class="add-friend-img"
            src="assets/icons/plus-gray.svg"
            alt="Add Friend"
          />
        </button>
      </li>
      <li class="suggestion-item">
        <img
          src="https://avatars.mds.yandex.net/i?id=cbd80f5d76ac6ac3599ba4f60401a06ee6b35f19-10842658-images-thumbs&n=13"
          alt="Mai Senpai"
          class="avatar"
        />
        <div class="user-info">
          <h4 class="name">Mai Senpai</h4>
          <p class="username">&#64;maisenpai</p>
        </div>
        <button class="add-friend">
          <img
            class="add-friend-img"
            src="assets/icons/plus-gray.svg"
            alt="Add Friend"
          />
        </button>
      </li>
      <li class="suggestion-item">
        <img
          src="https://avatars.mds.yandex.net/i?id=cbd80f5d76ac6ac3599ba4f60401a06ee6b35f19-10842658-images-thumbs&n=13"
          alt="Azunyan U. Wu"
          class="avatar"
        />
        <div class="user-info">
          <h4 class="name">Azunyan U. Wu</h4>
          <p class="username">&#64;azunyanwu</p>
        </div>
        <button class="add-friend">
          <img
            class="add-friend-img"
            src="assets/icons/plus-gray.svg"
            alt="Add Friend"
          />
        </button>
      </li>
      <li class="suggestion-item">
        <img
          src="https://avatars.mds.yandex.net/i?id=cbd80f5d76ac6ac3599ba4f60401a06ee6b35f19-10842658-images-thumbs&n=13"
          alt="Carack Babama"
          class="avatar"
        />
        <div class="user-info">
          <h4 class="name">Carack Babama</h4>
          <p class="username">&#64;obama21</p>
        </div>
        <button class="add-friend">
          <img
            class="add-friend-img"
            src="assets/icons/plus-gray.svg"
            alt="Add Friend"
          />
        </button>
      </li>
    </ul>
  </section>

  <section class="profile-activity">
    <div class="section-title-a-container">
      <h4 class="section-title">Profile Activity</h4>
      <button class="more-options">
        <img
          class="more-options-img"
          src="assets/icons/dots-vertical.svg"
          alt="More Options"
        />
      </button>
    </div>

    <div class="profile-activity-content">
      <div class="follower-avatars">
        <img
          src="https://avatars.mds.yandex.net/i?id=f4153aaa9961c73e5f9548a1575b4462_l-7450098-images-thumbs&n=13"
          alt="Follower 1"
          class="follower-avatar"
        />
        <img
          src="https://avatars.mds.yandex.net/i?id=cbd80f5d76ac6ac3599ba4f60401a06ee6b35f19-10842658-images-thumbs&n=13"
          alt="Follower 2"
          class="follower-avatar"
        />
        <img
          src="https://avatars.mds.yandex.net/i?id=44ee05a9dd86b08c3572f577c3fd8ec118fecd74-7761267-images-thumbs&n=13"
          alt="Follower 3"
          class="follower-avatar"
        />
        <img
          src="https://avatars.mds.yandex.net/i?id=3b83edd970d73574b3f48b50ad71b702d59af46a-5520044-images-thumbs&n=13"
          alt="Follower 4"
          class="follower-avatar"
        />
        <img
          src="https://avatars.mds.yandex.net/i?id=a4221ddb1fcf383d3c26c9f7f808826d0f331f51-5876515-images-thumbs&n=13"
          alt="Follower 5"
          class="follower-avatar"
        />
        <img
          src="https://avatars.mds.yandex.net/i?id=44ee05a9dd86b08c3572f577c3fd8ec118fecd74-7761267-images-thumbs&n=13"
          alt="Follower 6"
          class="follower-avatar"
        />
        <img
          src="https://avatars.mds.yandex.net/i?id=3b83edd970d73574b3f48b50ad71b702d59af46a-5520044-images-thumbs&n=13"
          alt="Follower 7"
          class="follower-avatar"
        />
      </div>
      <div class="follower-count">
        <span class="number">+1,158</span>
        <p class="follower-count-text">Followers</p>
      </div>
      <div class="follower-growth">
        <img src="assets/icons/trend-up.svg" alt="Arrow Up" class="arrow" />
        <span class="percentage">23%</span>
        <p>vs last month</p>
      </div>
      <p class="description">
        You gained a substantial amount of followers this month!
      </p>
    </div>
  </section>

  <section class="upcoming-events">
    <div class="section-title-a-container">
      <h4 class="section-title">Upcoming Events</h4>
      <button class="more-options">
        <img
          class="more-options-img"
          src="assets/icons/dots-vertical.svg"
          alt="More Options"
        />
      </button>
    </div>
    <ul class="events-list">
      <li class="event-item">
        <div class="event-icon-container">
          <img
            src="assets/icons/gift.svg"
            alt="Friend's Birthday"
            class="event-icon"
          />
        </div>

        <div class="event-info">
          <div class="event-name">Friend's Birthday</div>
          <div class="event-date">Jun 25, 2028</div>
        </div>
        <img
          src="assets/icons/bell.svg"
          alt="Notification"
          class="notification-icon"
        />
      </li>
      <li class="event-item">
        <div class="event-icon-container">
          <img src="assets/icons/moon.svg" alt="Holiday" class="event-icon" />
        </div>
        <div class="event-info">
          <div class="event-name">Holiday</div>
          <div class="event-date">Jun 28, 2028</div>
        </div>
        <img
          src="assets/icons/bell.svg"
          alt="Notification"
          class="notification-icon"
        />
      </li>
      <li class="event-item">
        <div class="event-icon-container">
          <img
            src="assets/icons/people.svg"
            alt="Group Meetup"
            class="event-icon"
          />
        </div>
        <div class="event-info">
          <div class="event-name">Group Meetup</div>
          <div class="event-date">Aug 19, 2028</div>
        </div>
        <img
          src="assets/icons/bell.svg"
          alt="Notification"
          class="notification-icon"
        />
      </li>
      <li class="event-item">
        <div class="event-icon-container">
          <img
            src="assets/icons/headdress.svg"
            alt="Graduation"
            class="event-icon"
          />
        </div>
        <div class="event-info">
          <div class="event-name">Graduation</div>
          <div class="event-date">Dec 22, 2028</div>
        </div>
        <img
          src="assets/icons/bell.svg"
          alt="Notification"
          class="notification-icon"
        />
      </li>
    </ul>
  </section>
</div>
