.app-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.app-wrapper {
  display: flex;
  position: relative;
}

.app-content {
  width: 100%;
}

.router {
  padding: 30px;
}
