<section class="section-profile-info">
  <div class="profile-user">
    <img
      src="{{ userService.activeUser?.avatar }}"
      alt="User Avatar"
      class="user-avatar"
    />
    <div class="profile-user-buttons">
      <button class="change-avater-btn user-button">Change photo</button>
      <button class="delete-btn user-button">Delete</button>
    </div>
  </div>
  <div class="profile-inputs-container">
    <form class="profile-info-inputs" [formGroup]="profileInfoForm">
      <h1 class="profile-inputs-title">Info</h1>
      <div class="user-name-inputs">
        <div class="input-wrapper">
          <app-input
            formControlName="fullName"
            [inputIcons]="'assets/icons/pencil.svg'"
            [inputPlaceHolder]="'First Name'"
          ></app-input>

          @if (profileInfoForm.controls.fullName.invalid &&
          (profileInfoForm.controls.fullName.dirty ||
          profileInfoForm.controls.fullName.touched)) {

          <p
            *ngIf="profileInfoForm.controls.fullName.errors?.['required']"
            class="error-message"
          >
            First Name is required.
          </p>
          <p
            *ngIf="profileInfoForm.controls.fullName.errors?.['lettersOnly']"
            class="error-message"
          >
            First Name can contain only letters.
          </p>
          <p
            *ngIf="profileInfoForm.controls.fullName.errors?.['minlength']"
            class="error-message"
          >
            First Name must be at least 2 characters long.
          </p>
          <p
            *ngIf="profileInfoForm.controls.fullName.errors?.['maxlength']"
            class="error-message"
          >
            First Name cannot exceed 15 characters.
          </p>
          }
        </div>
        <div class="input-wrapper">
          <app-input
            formControlName="username"
            [inputIcons]="'assets/icons/pencil.svg'"
            [inputPlaceHolder]="'Last Name'"
          ></app-input>

          @if (profileInfoForm.controls.username.invalid &&
          (profileInfoForm.controls.username.dirty ||
          profileInfoForm.controls.username.touched)) {
          <p
            *ngIf="profileInfoForm.controls.username.errors?.['lettersOnly']"
            class="error-message"
          >
            Last Name can contain only letters.
          </p>
          <p
            *ngIf="profileInfoForm.controls.username.errors?.['required']"
            class="error-message"
          >
            Last Name is required.
          </p>
          <p
            *ngIf="profileInfoForm.controls.username.errors?.['minlength']"
            class="error-message"
          >
            Last Name must be at least 2 characters long.
          </p>
          <p
            *ngIf="profileInfoForm.controls.username.errors?.['maxlength']"
            class="error-message"
          >
            Last Name cannot exceed 15 characters.
          </p>
          }
        </div>
      </div>

      <app-input
        formControlName="email"
        [inputIcons]="'assets/icons/pencil.svg'"
        [inputPlaceHolder]="'Email'"
      ></app-input>

      @if (profileInfoForm.controls.email.invalid &&
      (profileInfoForm.controls.email.dirty ||
      profileInfoForm.controls.email.touched)) { @if
      (profileInfoForm.controls.email.errors?.['required']) {
      <p class="error-message">Email is required.</p>
      } @if (profileInfoForm.controls.email.errors?.['email']) {
      <p class="error-message">Please enter a valid email address.</p>
      } }

      <app-input
        formControlName="bio"
        [inputIcons]="'assets/icons/pencil.svg'"
        [inputPlaceHolder]="'Bio'"
      ></app-input>

      @if (profileInfoForm.controls.bio.invalid &&
      (profileInfoForm.controls.bio.dirty ||
      profileInfoForm.controls.bio.touched)) { @if
      (profileInfoForm.controls.bio.errors?.['required']) {
      <p class="error-message">Bio is required.</p>
      } @if (profileInfoForm.controls.bio.errors?.['minlength']) {
      <p class="error-message">Bio must be at least 20 characters long.</p>
      } @if (profileInfoForm.controls.bio.errors?.['maxlength']) {
      <p class="error-message">Bio cannot exceed 150 characters.</p>
      } }

      <button (click)="updateProfile()" class="save-btn">Save</button>
    </form>
    <form class="profile-password-inputs">
      <h1 class="profile-password-title">Password</h1>
      <app-input
        [inputIcons]="'assets/icons/pencil.svg'"
        [inputPlaceHolder]="'Old Password'"
      ></app-input>

      <app-input
        [inputIcons]="'assets/icons/pencil.svg'"
        [inputPlaceHolder]="'New Password'"
      ></app-input>

      <app-input
        [inputIcons]="'assets/icons/pencil.svg'"
        [inputPlaceHolder]="'Confirm New Password'"
      ></app-input>

      <button (click)="updateProfile()" class="save-btn">Save</button>
    </form>
  </div>
</section>
